.hb-matter-smoke-co-alarm.accessory-on {
  svg {
    .air-line {
      stroke: #d32f2f;
      animation: hb-matter-smoke-co-alarm-flash 1s infinite;
    }

    .type {
      fill: #d32f2f;
      animation: hb-matter-smoke-co-alarm-flash 1s infinite;
    }
  }
}

@keyframes hb-matter-smoke-co-alarm-flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }
}
